@tailwind base;
@tailwind components;
@tailwind utilities;




.apexcharts-title-text , .apexcharts-toolbar{
    display:none !important;
}


  

.menu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.menu-content.open {
  max-height: 500px; /* Set a value large enough to fit your content */
  transition: max-height 0.6s ease-in-out;
}
